@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    min-height: 20rem;
    background-image: url(/build/img/fondo-header.jpg);
    padding-bottom: 2rem;

    &__contenedor {
        &--enlace {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    &__navegacion {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 4rem;

        @include m.tablet{
            justify-content: space-between;
            height: 9rem;
        }

        @media print {
            display: none;
        }
    }

    &__enlace {
        @include m.enlace;
        padding: 1rem;
        font-size: 1.2rem;
        @include m.tablet{
            font-size: 1.6rem;
        }
    }

    &__form {
        display: flex; 
    }

    &__submit {
        @extend .header__enlace;
    }

    &__contenido {
        padding-top: 10rem;
        width: 100%;

        @include m.tablet{
            padding-top: 0;
        }
    }

    &__logo {
        @include m.texto-fluido(2rem, 8rem);
        @include m.texto-degradado(v.$azul, v.$secundario);
        text-align: center;
        @include m.tablet{
            margin: 0;
            text-align: left;
            display: inline-block;
        }
    }

    &__texto {
        font-size: 3rem;
        font-weight: v.$bold;
        color: v.$blanco;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;

        @include m.tablet{
            text-align: left;
        }

        &--modalidad {
            font-size: 2rem;
        }
    }

    &__boton {
        @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
        margin: 2rem 0;

        @include m.tablet{
            width: auto;
        }
    }
}
.imagegallery{
    width: 100%;
    height: 50%;
    @include m.tablet{
        height: 30rem;
    }
    z-index: 0;
    display: flex;
    &__title{
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        margin: 0;
        padding: 3rem 0;
        font-family: "Oleo Script";
        color: darken(v.$blanco, 10%);

        @include m.tablet{
            font-size: 7rem;
        }
    }
    &__enlace{
        display: flex;
        flex-grow: 1;
        transition: width .5s ease;
    }

    &__img{
        width: 0;
        flex-grow: 1;
        transition: width .5s ease;
        &:hover {
            filter: contrast(120%);
            width: 15rem;
        }
    }
}