@use 'base/variables' as v;

.filtro,
.filtrado {
    overflow: hidden;
    min-width: 13rem;
    padding: 0.2rem 0.4rem;
    border: 1px solid v.$primario;
    border-radius: 1rem;
    color: v.$gris;
    text-overflow: ellipsis;
}

.filtro {
    &:focus {
        border-color: v.$gris;
        outline: none;
    }
}