@use 'base/variables' as v;

.alerta {
    
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: v.$bold;
    max-width: 80%;

    &__error {
        background-color: lighten(v.$rojo, 60%);
        border-left: 0.5rem solid v.$rojo;
        color: v.$rojo;
    }
}